:root {
  --primary: #084887;
  --secondary: #52c89f;
  --third: #ff8849;
  --highlight: #f8d84b;
}

body {
  padding: 20px 200px;
  font-family: Arial, Helvetica, sans-serif;
}
wsc-hello {
  display:block;
  background-image: linear-gradient(to right bottom, #ee5e6f, #f17356, #e98b41, #d8a337, #b7b242, #95bc5c, #73c47d, #52c89f);
  margin: 0 auto 1em;
  padding:20px 200px;
  font-size:1.6em;
  border-radius: 10px;
  text-align: center;
  color:#fff;
}

wsc-hello h1{
  margin: 0;
}

wsc-hello p {
  margin-bottom: 0;
  font-size:0.7em;
  font-style: italic;
}


.dates wsc-date {
  display: inline-block;
}


/* Program */

.section-title {
  color: var(--primary);
  font-size:3em;
}

.section-title::before {
  content: "//";
  color: var(--highlight);
  display: inline-block;
  margin-right: .25em;
}

.program-title {
  color: var(--primary);
  font-size: 1.4em;
  border:1px solid #ccc;
  border-width: 1px 0;
  padding:16px;
  margin:0;
}

wsc-track {
  font-size:1.4em;
  color: var(--primary);
  border:1px solid #ccc;
  border-width: 1px 0;
  margin:-1px 0;
  display: flex;
}

wsc-track a {
  color: var(--primary);
  position: relative;
  text-decoration: none;;
}

wsc-track a::before {
	content: "";
	display: block;
	position: absolute;
	width: calc(100% + .1em);
	height: .33em;
	left: -.05em;
	bottom: .1em;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
	background-color: #f8d84b;
	z-index: -1;
}

wsc-track a:hover::before {
  height:1em;
}

wsc-track .note,
wsc-track .description{
  margin:0.5em 0;
  font-style: italic;
}

wsc-track .col{
  padding:16px;
  flex:100%;
}

wsc-track .col:first-child {
  flex:1 200px;
}

wsc-track .author{
  font-weight: bold;
}

wsc-track .title {
  font-size:1.4em;
  margin:0 0 0.5em;
}

wsc-track .time {
  margin-bottom:1em;
}

.program-title wsc-date{display: inline-block; font-size:16px; padding: 4px; vertical-align: middle}
.program-title span{font-size:2em; vertical-align: middle;}


.special {
  color:white;
  font-size:2em;
  width: 300px;
  background: var(--primary);
  --monthColor:var(--secondary);
  --dayFontSize:3em;
  --monthFontSize:1em;
}
